[submodule "uavcan_core/uavcan"]
	path = uavcan_core/uavcan
	url = https://github.com/UAVCAN/libuavcan
[submodule "cvra_msgs/uavcan/cvra/motor"]
	path = cvra_msgs/uavcan/cvra/motor
	url = https://github.com/cvra/motor-control-uavcan-dsdl
[submodule "cvra_msgs/uavcan/cvra/beacon"]
	path = cvra_msgs/uavcan/cvra/beacon
	url = https://github.com/cvra/proximity-beacon-uavcan-dsdl.git
