<launch>
    <arg name="motor_ns" default="right_wheel" />
    <arg name="node_uavcan_id" default="10" />
    <arg name="motor_uavcan_id" default="50" />
    <arg name="dynamic_motor_config" default="false"/>
    <arg name="default_params" default="$(find goldorak_base)/param/motor.yaml"/>

    <!-- Load parameters into Parameter server -->
    <rosparam command="load" file="$(arg default_params)" ns="$(arg motor_ns)" />

    <!-- Start configuration node if we want dynamic configuration ... -->
    <group if="$(arg dynamic_motor_config)">
      <node name="motor_control_config"
            pkg="goldorak_base"
            type="motor_config_server"
            respawn="true"
            ns="$(arg motor_ns)"
            output="screen"
            args="$(arg node_uavcan_id) $(arg motor_uavcan_id)">
      </node>
    </group>

    <group unless="$(arg dynamic_motor_config)">
      <node name="motor_control_config"
            pkg="goldorak_base"
            type="motor_config_send_once"
            respawn="false"
            ns="$(arg motor_ns)"
            output="screen"
            args="$(arg node_uavcan_id) $(arg motor_uavcan_id)">
      </node>
    </group>
</launch>
