<launch>
    <arg name="simulated_motors" default="false"/>
    <arg name="dynamic_motor_config" default="false"/>
    <arg name="map_file" default="$(find goldorak_navigation)/map/eurobot.yaml"/>

    <rosparam command="load" file="$(find goldorak_bringup)/param/uavcan_nodes.yaml"/>
    <rosparam command="load" file="$(find goldorak_bringup)/param/robot.yaml"/>
    <param name="use_sim_time" value="false"/>

    <arg name="model" default="$(find goldorak_description)/urdf/goldorak.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

    <!-- Map setup -->
    <include file="$(find goldorak_navigation)/launch/map.launch">
        <arg name="map_file" value="$(arg map_file)"/>
    </include>

    <!-- TF setup -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

    <!-- Robot base controller -->
    <include file="$(find goldorak_base)/launch/base.launch"/>

    <!-- Simulate motors ... -->
    <group if="$(arg simulated_motors)">
        <!-- Right wheel -->
        <node name="right_wheel_motor_sim" pkg="goldorak_base" type="motor_board_sim.py"
              args="right_wheel"/>
        <!-- Left wheel -->
        <node name="left_wheel_motor_sim" pkg="goldorak_base" type="motor_board_sim.py"
              args="left_wheel"/>
    </group>

    <!-- ... or use the real stuff -->
    <group unless="$(arg simulated_motors)">

        <!-- Right wheel config server and parameters -->
        <include file="$(find goldorak_base)/launch/motor.launch">
            <arg name="motor_ns" value="right_wheel" />
            <arg name="node_uavcan_id" value="11" />
            <arg name="motor_uavcan_id" value="50" />
            <arg name="dynamic_motor_config" value="$(arg dynamic_motor_config)"/>
        </include>
        <!-- Left wheel config server and parameters -->
        <include file="$(find goldorak_base)/launch/motor.launch">
            <arg name="motor_ns" value="left_wheel" />
            <arg name="node_uavcan_id" value="12" />
            <arg name="motor_uavcan_id" value="41" />
            <arg name="dynamic_motor_config" value="$(arg dynamic_motor_config)"/>
        </include>

        <!-- Proximity beacon config server and parameters -->
        <include file="$(find goldorak_base)/launch/motor.launch">
            <arg name="motor_ns" value="beacon" />
            <arg name="node_uavcan_id" value="13" />
            <arg name="motor_uavcan_id" value="54" />
            <arg name="dynamic_motor_config" value="$(arg dynamic_motor_config)"/>
        </include>

        <!-- Fishing module y axis config server and parameters -->
        <include file="$(find uavcan_core)/launch/motor.launch">
            <arg name="motor_ns" value="fishing_y_axis" />
            <arg name="node_uavcan_id" value="13" />
            <arg name="motor_uavcan_id" value="59" />
            <arg name="dynamic_motor_config" value="$(arg dynamic_motor_config)"/>
            <arg name="default_params" value="$(find goldorak_bringup)/param/fishing_y_axis.yaml" />

        <!-- Umbrella config server and parameters -->
        <include file="$(find uavcan_core)/launch/motor.launch">
            <arg name="motor_ns" value="umbrella" />
            <arg name="node_uavcan_id" value="16" />
            <arg name="motor_uavcan_id" value="62" />
            <arg name="dynamic_motor_config" value="$(arg dynamic_motor_config)"/>
            <arg name="default_params" value="$(find goldorak_bringup)/param/umbrella.yaml" />
        </include>
        <!-- Fishing module z axis config server and parameters -->
        <include file="$(find uavcan_core)/launch/motor.launch">
            <arg name="motor_ns" value="fishing_z_axis" />
            <arg name="node_uavcan_id" value="14" />
            <arg name="motor_uavcan_id" value="60" />
            <arg name="dynamic_motor_config" value="$(arg dynamic_motor_config)"/>
            <arg name="default_params" value="$(find goldorak_bringup)/param/fishing_z_axis.yaml" />
        </include>
        <!-- Fishing module impeller config server and parameters -->
        <include file="$(find uavcan_core)/launch/motor.launch">
            <arg name="motor_ns" value="fishing_impeller" />
            <arg name="node_uavcan_id" value="15" />
            <arg name="motor_uavcan_id" value="61" />
            <arg name="dynamic_motor_config" value="$(arg dynamic_motor_config)"/>
            <arg name="default_params" value="$(find goldorak_bringup)/param/fishing_impeller.yaml" />
        </include>

    </group>

    <!-- Differential base controller and odometry -->
    <node name="diffbase_odometry" pkg="goldorak_base" type="diffbase_odometry"/>
    <node name="diffbase_controller" pkg="goldorak_base" type="diffbase_controller"/>

    <!-- Move base -->
    <include file="$(find goldorak_navigation)/launch/navigation.launch">
        <arg name="cmd_vel_topic" value="/cmd_vel"/>
    </include>
</launch>
