<launch>
    <rosparam command="load" file="$(find goldorak_bringup)/param/uavcan_nodes.yaml"/>
    <rosparam command="load" file="$(find goldorak_bringup)/param/robot.yaml"/>

    <arg name="model" default="$(find goldorak_description)/urdf/goldorak.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="state_publisher" />

    <node name="state_publisher"
          pkg="goldorak_state_publisher"
          type="real_state_publisher" />

    <node name="uavcan_bridge"
          pkg="uavcan_core"
          type="uavcan_bridge"
          args="10"/>

    <!-- Right wheel -->
    <include file="$(find uavcan_core)/launch/motor.launch">
        <arg name="motor_ns" value="right_wheel" />
        <arg name="node_uavcan_id" value="11" />
        <arg name="motor_uavcan_id" value="50" />
        <arg name="default_params" value="$(find goldorak_bringup)/param/right_wheel.yaml" />
    </include>

    <!-- Left wheel -->
    <include file="$(find uavcan_core)/launch/motor.launch">
        <arg name="motor_ns" value="left_wheel" />
        <arg name="node_uavcan_id" value="12" />
        <arg name="motor_uavcan_id" value="41" />
        <arg name="default_params" value="$(find goldorak_bringup)/param/left_wheel.yaml" />
    </include>

    <!-- Differential base controller and odometry -->
    <node name="diffbase_odometry"
          pkg="goldorak_diffbase"
          type="diffbase_odometry"/>

    <node name="diffbase_controller"
          pkg="goldorak_diffbase"
          type="diffbase_controller"/>
</launch>
