<launch>
    <rosparam command="load" file="$(find goldorak_bringup)/param/uavcan_nodes.yaml"/>
    <rosparam command="load" file="$(find goldorak_bringup)/param/robot.yaml"/>

    <arg name="model" default="$(find goldorak_description)/urdf/goldorak.xacro"/>
    <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />

    <node name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="state_publisher" />

    <node name="state_publisher"
          pkg="goldorak_state_publisher"
          type="real_state_publisher" />

    <!-- Right wheel -->
    <node name="right_wheel_motor_sim"
          pkg="uavcan_core"
          type="motor_board_sim.py"
          args="right_wheel"/>

    <!-- Left wheel -->
    <node name="left_wheel_motor_sim"
          pkg="uavcan_core"
          type="motor_board_sim.py"
          args="left_wheel"/>

    <!-- Differential base controller and odometry -->
    <node name="diffbase_odometry"
          pkg="goldorak_diffbase"
          type="diffbase_odometry"/>

    <node name="diffbase_controller"
          pkg="goldorak_diffbase"
          type="diffbase_controller"/>
</launch>
